{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m4">
        <div class="concept-container">
            <h3 class="concept-text">concept</h3>
        </div>
    </div>
    <div class="col s12 m8">
        <div class="text-container center-align">
            <p>What is NLU?</br>
                Natural Language Understanding (NLU) is a sub-topic of Natural Language Processing.</br>
                NLU functions as an interpreter between a voice asssitant and human language,</br>
                which allows users to convey one's intention (intents)</br>
                and trigger a function with a natural language.</br>
                The aim of this website is to store and retrieve intent data.<br>
                So a new voice design and NLU development can reuse the existing intents<br>
                and example utterances without inventing the wheel again.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="text-container center-align">
            <p>Register with your working email.<br>
                Search intent with key words in Intents.<br>
                You can add an intent in AddIntents page.<br>
                Intent name, description, and minimal five example utterances are required.<br>
                Entity name and values are optional.<br>
                To edit an intent, push edit botton to modify the data.<br>
                Only admin is allowed to delete any data,<br>
                Please contact the admin for deletion.
            </p>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="project-container indigo darken-4 ">
            <h3 class="project-text">how to</h3>
        </div>
    </div>
</div>
{% endblock %}