{% extends "base.html" %}
{% block content %}

{% if intents|length == 0 %}
    <h4 id="no-result" class="center-align red-text" >no result</h4>
{% endif %}

<div class="title-circle">
    <h5 class="indigo darken-4 title-text">Intents</h5>
</div>
<div class="row">
    <form action="{{ url_for('search')}}" method="post" class="col s10 offset-s1">
        <div class="row valign-wrapper center-align">
            <i class="material-icons">search</i>
            <div class="input-field col s12">
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">keywords</label>
            </div>
            <div class="col">
                <button type="submit" class="waves-effect waves-light btn-small light-blue">
                    Search
                </button>
            </div>
            <a href="{{ url_for('intents')}}" class="waves-effect waves-light btn-small light-blue">Reset</a>
        </div>
    </form>
</div>
<!--materialize collapsible starts-->
<ul class="collapsible popout">
    {% for intent in intents %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <h6><strong>intent name: </strong>{{ intent.intent_name }}</h6>
        </div>
        <div class="collapsible-body">
            <ul>
                <li><strong>Description: </strong><br>
                    {{ intent.description }}
                </li>
                <li><strong>Example: </strong><br>
                        {% for example in intent.examples %}
                            {% if example|length %}
                                {{ example }}<br>
                            {% endif %}
                        {% endfor %}
                </li>
                <li><strong>Entity Name: </strong><br>
                    {% for name in intent.entity_name %}
                        {% if name|length %}
                            {{ name }}<br>
                        {% endif %}
                    {% endfor %}
                </li>
                <li><strong>Entity Value: </strong><br>
                    {% for value in intent.entity_value %}
                        {% if value|length %}
                            {{ value }}<br>
                        {% endif %}
                    {% endfor %}
                </li>
            <!--buttons-->
                <div class="center-align">
                    <a href="{{ url_for('edit_intent', intent_id=intent._id) }}" class="waves-effect waves-light btn-small">
                        <i class="material-icons left">edit</i>
                        Edit
                    </a>
                    <!--only allows admin to delete-->
                    {% if session.user|lower == "admin"|lower %}
                        <a href="#a{{intent._id }}" class="waves-effect waves-light btn-small modal-trigger">
                            <i class="material-icons left">delete_forever</i>
                            Delete
                        </a>
                        <!--pop up windows to confirm deletion-->
                        <div id="a{{intent._id }}" class="modal">
                            <div class="modal-content">
                                <p>Are you sure you want to delete <strong>{{ intent.intent_name }}</strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('intents')}}" class="modal-close waves-effect btn-flat">
                                    No
                                </a>
                                <a href="{{ url_for('delete_intent',intent_id=intent._id) }}" class="modal-close waves-effect waves-red red-text btn-flat">
                                    Delete
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-small disabled">
                                <i class="material-icons left">delete_forever</i>
                                Delete
                        </a>
                    {% endif %}
                </div>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
<!--materialize collapsible ends-->
{% endblock %}