{% extends "base.html" %}
{% block content %}


<div class="title-circle">
    <h5 class="indigo darken-4 title-text">Intents</h5>
</div>

<!--materialize collapsible starts-->
<ul class="collapsible popout">
    {% for intent in intents %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <h6><strong>intent name: </strong>{{ intent.intent_name }}</h6>
        </div>
        <div class="collapsible-body">
            <ul>
                <li><strong>Description: </strong><br>
                    {{ intent.description }}
                </li>
                <li><strong>Example: </strong><br>
                    {% for example in intent.examples %}
                        {{ example }}<br>
                    {% endfor %}
                </li>
                <li><strong>Entity Name: </strong><br>
                    {{ intent.enity_name }}
                </li>
                <li><strong>Entity Value: </strong><br>
                    {% for value in intent.entity_value %}
                        {{ value }}<br>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
<!--materialize collapsible ends-->
{% endblock %}